.array-container
{
    position: absolute;
    left: 100px;
}


.btn2{
    background-color: #dd7973;
    height: 25px;
    border-radius: 9px;
    font-family: 'IBM Plex Sans', sans-serif;
    

}

.btn1{
    background-color: #dd7973;
    height: 25px;
    border-radius: 9px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.array-bar
{
    width: 2.2px;
    height: 25px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
}

body{
    background-color: #27282c;
}